/*Kleuren thema's
Orange: #FE8D0D
Wit: #F4FAFF
Zwart: #251605
Donker-orange: #FE4E02
Licht-blauw: #5626CA
Donker-blauw: #1E11A0
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body {
    font-family: "Nunito", "Open Sans", Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(#1E11A0, #ba9ffa);
}


header{
    background-color: #F4FAFF;
    margin-bottom: 20px;
    width: 100%;
    z-index: 12;
}


.heleContainer{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.2fr ;
    grid-template-areas:"";
    }

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
}

#logo{
    width: 300px;
    padding: 5px;
    float: left;
  }

ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}

h2{
    font-weight: 900;
    margin-top: 50px;
    margin-left: 50px; 
}

h2, p{
    text-align: left;
    margin-left: 100px; 
    color: #F4FAFF;
}
#sometimes{
    color: #FE8D0D;
}


#mainmenu{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 25px;
}

#mainmenu li{ 
    margin-left: 45px;
} */

a{
    color: #251605;
    font-size: large;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: #FE8D0D;
    color: #1E11A0;
}

/* #aanmeldknop{
    background-color: #FE8D0D;
    margin-right: 20px;
    margin-top: -5px;
    border-radius: 6px;
    padding: 6px;
    border:  solid 2px #251605;
}


label{
    display: none;
}
#toggle {
    display: none;
} */

@media screen and (max-width: 865px){
    label{
        display: block;
        cursor: pointer;
        margin-top: 5px;
        width: 26px;
        float: right;
        
    }
    .menu{
        text-align: center;
        width: 100%;
        /* margin-top: 14px; */
        padding-top: 85px;
        display: none;
    } 

    /* #mainmenu{
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        padding-top: 0px;
    } 
     */
    /* #mainmenu li{
        margin-left: 0px;
        text-align: center;
    } */

    /* a{
        display: block;
        margin: 0;
        padding: 8px;
        border-bottom: solid 4px #FE8D0D;
        float: none;
        font-size: 20px;
    } */

    /* #aanmeldknop{
        background-color: #FE8D0D;
        padding: 2px;
        margin-right: 0px; 
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 6px;
    }
    
    #toggle:checked + .menu{
        display: block;
    }
}