/* Kleuren thema's
Orange: #FE8D0D
Wit: #F4FAFF
Zwart: #251605
Donker-orange: #FE4E02
Licht-blauw: #5626CA
Donker-blauw: #1E11A0
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body {
    font-family: "Nunito", "Open Sans", Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(#1E11A0, #ba9ffa);
}


header{
    background-color: #F4FAFF;
    margin-bottom: 20px;
    width: 100%;
    border: solid 2.5px #FE8D0D;
    z-index: 12;
}


.heleContainer{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.2fr ;
    grid-template-areas:"";
    }

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#logo{
    width: 300px;
    padding: 5px;
    float: left;
  }


.active{
    float: right;
    margin: 35px 25px;
    color: #251605;
    font-size: large;
}

.active:hover{
    text-decoration: underline;
    text-decoration-color: #FE8D0D;
    color: #1E11A0;
}

nav{
    text-align: right;
    height: 80px;
}

label{
    margin: 0 40px 0 0;
    font-size: 30px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right; 
}

#toggle{
    display: none;
}

@media screen and (max-width: 800px){
    label{
        display: block;
        cursor: pointer;
        margin-top: 10px;
        width: 26px;
        float: right; 
    }
    .menu{
        text-align: center;
        width: 100%;
        /* margin-top: 14px; */
        padding-top: 85px;
        display: none;
    }

    .active{
        display: block;
        margin: 0;
        padding: 10px;
        border: solid 2px #FE8D0D;
        float: none;
        color: #F4FAFF;
    }
    .active:hover{
        color: #F4FAFF;
    }
    #toggle:checked + .menu{
        display: block;
    }
}