/*Kleuren thema's
Orange: #FE8D0D
Wit: #F4FAFF
Zwart: #251605
Donker-orange: #FE4E02
Licht-blauw: #5626CA
Donker-blauw: #1E11A0
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body {
    font-family: "Nunito", "Open Sans", Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(#1E11A0, #ba9ffa);
}


header{
    background-color: #F4FAFF;
    margin-bottom: 20px;
    width: 100%;
    /* z-index: 12; */
    /* grid-area: header; */
}


.heleContainer{
    /* display: grid;
    grid-template-columns: 100% 1fr 1fr;
    grid-template-rows:  1fr 1fr;     
    grid-template-areas:"header  header"
                        "flexbox flexbox "
                        "main   main";
                       */
    }

main {
    /* grid-area: main; */
    text-align: center;
}

#logo{
    width: 300px;
    padding: 5px;
    float: left;
  }

ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}

h2{
    font-weight: 900;
    margin-top: 50px;
    margin-left: 50px; 
}

h2, p{
    text-align: left;
    margin-left: 100px; 
    color: #F4FAFF;
}

#sometimes{
    color: #FE8D0D;
    grid-area: sometimes;
}

#mainmenu{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 25px;
}

#mainmenu li{ 
    margin-left: 45px;
} 

a{
    color: #251605;
    font-size: large;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: #FE8D0D;
    color: #1E11A0;
}

/* #aanmeldknop{
    background-color: #FE8D0D;
    margin-right: 20px;
    margin-top: -5px;
    border-radius: 6px;
    padding: 6px;
    border:  solid 2px #251605;
}


label{
    display: none;
}
#toggle {
    display: none;
} */

@media screen and (max-width: 865px){
nav-toggle{
        display: block;
        cursor: pointer;
        margin-top: 5px;
        width: 26px;
        float: right;
        
    } 
    /* .menu{
        text-align: center;
        width: 100%;
         margin-top: 14px; 
        padding-top: 85px;
        display: none;
    } */
} 

     #mainmenu{
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        padding-top: 0px;
    } 
 
     #mainmenu li{
        margin-left: 0px;
        text-align: center;
<<<<<<< HEAD
    } */
=======
        
    }
>>>>>>> 1329d50e84da893a667fb9587ba6738e5a163abd

    a{
        display: block;
        margin: 0;
        padding: 8px;
        border-bottom: solid 4px #FE8D0D;
        float: none;
        font-size: 20px;
<<<<<<< HEAD
    } */
=======
        color: #F4FAFF;
    }
>>>>>>> 1329d50e84da893a667fb9587ba6738e5a163abd

     #aanmeldknop{
        background-color: #FE8D0D;
        padding: 2px;
        margin-right: 0px; 
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 6px;
    }
    
    #toggle:checked + .menu{
        display: block;
    }
<<<<<<< HEAD
    */
=======
    #email, #wachtwoord{
        width: 420px;
        margin: auto;
    }

} 

/* Foto slider styles */
#Fotoslider {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    transition-property: left;
    transition-duration: 420ms;
    transition-timing-function: ease-out;
}

.foto{
    width: 600px;
    height: 400px;
    overflow: hidden;
}

#viewport {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

#flexbox{
    margin-left: 0px;
    margin-top: 100px;
    /* grid-area: flexbox; */
}

#controls{
    position: absolute;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between; 
    margin-top: 160px;
}

button{
    background-color: #F4FAFF; 
    padding: 6px 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: medium; 
    opacity: 0.7;
  }
  
button:hover {
      background-color: #FE8D0D;
      color: #F4FAFF;
      opacity: 1;
      
}
  
button:active {
      background-color: #FE4E02;
      box-shadow: 0 2px rgb(0, 0, 0);
      border-radius: 30px;
      transform: translateY(10px);
}
>>>>>>> 1329d50e84da893a667fb9587ba6738e5a163abd
