@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body {
    font-family: "Nunito", "Open Sans", Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(#1E11A0, #ba9ffa);
    /* background-repeat: no-repeat; */
}


header{
    background-color: #F4FAFF;
    margin-bottom: 20px;
    width: 100%;
    padding: 5px;
   /* height: 100%;*/
    /* z-index: 12; */
    grid-area: header;
}

#slideshow-container{
    grid-area: slideshow;


}

.heleContainer{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows:  0.2fr  0.2fr;     
    grid-template-areas:"header header"
                        "flexbox flexbox "
                        "main  main"
                        "footer footer";
                       
    }

main {
    grid-area: main; 
    text-align: center;
}

#logo{
    width: 250px;
    padding: 15px;
    float: left;
    height: auto;
    /* z-index: 12; */
  }

ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.homeTitel{
    font-weight: 900;
    padding-top: 40px;
}

.homeTitel, .homeTekst{
    text-align: left;
    color: #F4FAFF;
    padding-left: 40px;
    
}
.homeTekst{
    
}

#sometimes{
    color: #FE8D0D;
}

#mainmenu{
    display: flex; 
    flex-direction: row;
    justify-content: right;
    padding-top: 25px;
}

#mainmenu li{ 
    margin-left: 45px;
} 

a{
    color: #251605;
    font-size: large;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: #FE8D0D;
    color: #1E11A0;
}

#aanmeldknop{
    background-color: #FE8D0D;
    margin-right: 20px;
    margin-top: -5px;
    border-radius: 6px;
    padding: 5px;
    border:  solid 2px #251605;
}
label{
    display: none;
}
#toggle {
    display: none;
}

#email, #wachtwoord{
    width: 750px;
    margin: auto;
}

#email:hover, #wachtwoord:hover{
    border-color: #FE8D0D;
    border-width: 3px;
}

.btn-btn-primary{
    background-color: #FE8D0D;
    color: #F4FAFF;
    border-radius: 6px;
    padding: 5px;
    border:  solid 2px #251605;
}
#fullForm{
    background-color: #F4FAFF;
    border: solid 3px #FE8D0D;
    border-radius: 20px;
    padding: 30px;
    margin-left: 150px;
    margin-right: 150px;
}
footer{
    grid-area: footer;
}


@media screen and (max-width: 865px){
    label{
        display: block;
        cursor: pointer;
        margin-top: 12px;
        width: 35px;
        float: right;
    }
    #fullForm{
        margin-left: 20px;
        margin-right: 20px;
    }
    .menu{
        text-align: center;
        width: 100%;
        /* margin-top: 14px; */
        padding-top: 85px;
        display: none;
    } 

     #mainmenu{
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        padding-top: 0px;
    } 
 
     #mainmenu li{
        margin-left: 0px;
        text-align: center;
        
    }

    a{
        display: block;
        margin: 0;
        padding: 8px;
        /* border-bottom: solid 4px #FE8D0D; */
        float: none;
        font-size: 20px;
        color: #251605;
    }

     #aanmeldknop{
        background-color: #FE8D0D;
        padding: -10px;
        margin-right: 0px; 
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 6px;
    }
    
    #toggle:checked + .menu{
        display: block;
    }
    #email, #wachtwoord{
        width: 300px;
        margin: auto;
    }
    #logo{
        visibility: hidden;
        height: 0px;
        width: 0px;
        padding: 0px;
            
    }


} 

    .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
 

/* Over ons pagina */
#BGmissie{
    margin-top: 80px;
    border-radius: 20px;
    width: 300px;
    /* margin-left: 200px; */
    
}
#missie{
    color: #F4FAFF;
    font-weight: bolder;
    grid-area: missie;
}
#missie2{
    text-align: center;
    color: #F4FAFF;
}

#over_onsText{
    background-color: #F4FAFF;
    border-radius: 20px;
    font-size: larger;
    grid-area: over_onsText;
    text-align: left;
    padding: 30px;
}


#BGtext{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows:  1fr;     
    grid-template-areas: "missie over_onsText over_onsText"
                         "missie over_onsText over_onsText"; 
    /* margin-top: -250px; */
    padding-right: 40px ;
    padding-left: 40px;
}
#over_onsTitel{
    text-align: center;
    font-size: x-large;
    font-weight: 900;
}
/* Over ons pagina end */

/* Contact pagina */

#contactText{
    background-color: #F4FAFF;
    border-radius: 20px;
    font-size: larger;
    /* grid-area: contact; */
    text-align: center;
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;
}


#BGcontactpagetext{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows:  1fr;     
    /* grid-template-areas: "missie over_onsText over_onsText"
                         "missie over_onsText over_onsText";  */
    /* margin-top: -250px; */
    padding-right: 40px ;
    padding-left: 40px;
}
#contactTitel{
    text-align: center;
    font-size: x-large;
    font-weight: 900;
}

#SM {
    display: flex;
    justify-content: space-evenly;
}
#kopje1{
text-align: center;
}
#kopje2{
    text-align: center;
    }
/* Contact pagina end */

@media screen and (max-width: 1205px){
    /* Over ons pagina */
    #BGtext{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;  
        grid-template-areas: "missie missie"
                             "over_onsText over_onsText"; 
        /* margin-top: 50px; */
        text-align: center;
    }

    #missie{
        color: #F4FAFF;
        font-weight: bolder;
        grid-area: missie;
        justify-self: center;
    }
    
    #BGmissie{
        margin: 20px;
        border-radius: 20px;
        width: auto;
        text-align: center;
    }

    #over_onsText{
        background-color: #F4FAFF;
        border-radius: 20px;
        font-size: medium;
    }

    /* .slideshow-container{
        float: none;
        top: 0px;
    } */

    /* Over ons pagina end */

    /* contact pagina */

    #BGcontactpagetext{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;  
        grid-template-areas: "contactText contactText"; 
        /* margin-top: 50px; */
        text-align: center;
    }

    #contact{
        color: #F4FAFF;
        font-weight: bolder;
        grid-area: missie;
        justify-self: center;
    }

    #contactText{
        background-color: #F4FAFF;
        border-radius: 20px;
        font-size: medium;
    }
    /* contact pagina end */
    #fullForm{
        margin-left: 40px;
        margin-right: 60px;
    }
}


@media screen and (max-width: 405px){
    #email, #wachtwoord{
            width: 220px;
            margin: auto;
    
    }
    
}