# Bestanden die je niet in Git wil zet je in een .gitignore file
# Check: https://github.com/github/gitignore/tree/master/Global voor standaard Gitignore regels voor veelgebruikte editors

# PHPStorm configuratie bestanden niet in Git
.idea/

# Visual Studio code configuration niet in Git
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Nooit de vendor map in Git zetten (deze kan elke developer installeren met: composer install)
/vendor

# Ook onze gevoelige gegevens (usernames, passwords e.d.) NOOIT in Git
/_private/includes/config.php
node_modules
.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
